<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Update Active Substance</title>
</head>
<body>
<div th:insert="navbar :: navbar"></div>

<h1>Update Active Substance</h1>
<div  class="container">
    <form action="/active-substance/update" method="post">
        <input type="hidden" th:value="${activeSubstance.id}" name="id">
        <div class="row">
            <div class="col-md-6">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" th:value="${activeSubstance.name}" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <input type="submit" value="Update" class="btn btn-primary" onclick="return confirm('Are you sure you want to update this item?');">
            </div>
        </div>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>